  html body {
      
    font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    color:#444;
    letter-spacing:2px;
    background-color:#fff;
  }
  
  p{
   color:#75797c;
   letter-spacing:2px;
  }
  
 h2{
  letter-spacing:6px;
  font-weight:bold  ;
  }
 
  .blade1 {
    background-color:#f9f9f9;
    padding:50px;
    margin-top:100px;
    margin-bottom:130px;
  }
  
  ::placeholder {
  color: #d1d1d1;
  }


  .wrap {
   overflow:hidden;
  }
  
  .navbar-font{
    font-family: 'Baloo Bhai', cursive;
    font-size:30px;
    letter-spacing:0.5px;
    color:white;
  }
  
  .navbar-font:hover {
    color:white;
    text-decoration:none;
  }
  
  .scrollTopBtn {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    cursor: pointer;
  }
  
  .scrollTopBtn:before {
    position: fixed;
    bottom: 18px;
    right: 22px;
    width: 15px;
    height: 15px;
    border-top: 4px #999 solid;
    border-left: 4px #999 solid;
    transform: rotate(45deg);
    cursor: pointer;
    content: '';
  }
  


  .top-wrapper {
    background-color:#fc5e3f;
    height:800px;
    display: flex;
    justify-content: center;
    
  
  }
  
  #top-font {
    margin-top:150px;
      padding:30px;
      letter-spacing: .08em;
      line-height:1.5;
      font-size: 50px;
      color:rgba(255,255,255,1);
      font-family: 'Baloo Bhai', cursive;
  
  }
  
  
  .signup-btn {
    display: inline-block;
    padding:20px 40px;
    border: 10px solid #f92548;
    background-color:#FFF;
    font-size: 16px;
    color: #f92548;
    font-weight: bold;
    border-radius: 10px;
    transition: .4s;
    text-align:center;
    opacity:0.9;
  }
  
  .signup-btn:hover {
    background-color: #f92548;
    border-color: #f92548;
    color: #FFF;
    opacity:1;
  
  }
  
  .wrapper {
    padding-top:150px;
    padding-bottom:150px;
    
  }


  .second-font {
    color:#fc5e3f;
    font-weight:bold;
    font-size:18px;
    line-height:3;
  }
  
  .second-font-lg {
    color:#fc5e3f;
    font-weight:bold;
    font-size:27px;
    line-height:3;
  }
  
  .second-font-lg span {
     font-family: 'Baloo Bhai', cursive;
  }
  
  .item-wrapper {
    background-color:#ffcf42;
    color:white;
  }
  
  
  .item {
    border:10px solid #ffcf42;
    background-color:#fc2a58;
    color:#ffcf42;
    font-weight:bold;
  }
  
  .item p {
    color:#ffcf42;
    padding:20px;
  }
  
  .Mypicture {
    overflow: hidden;
    width: 500px;
    height: 500px;
    position: relative;
    margin:0 auto;
    border-radius:10px;
  }
  
  .user-img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    border-radius:10px;
  }

  .img-cover{
    overflow: hidden;
    width: 200px;
    height: 200px;
    position: relative;
    margin:0 auto;
    border-radius:10px;
  }
  
  .my-delivery-img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    border-radius:10px;
    text-align:center;
  }
  
  .delivery-img{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
      border-radius:10px;
  }
  
  
  .delivery-li {
    width:270px;
    height:400px;
    margin-bottom:10px;
    margin-right:7px;
  }
  
  .delivery-ul {
    display: flex;
    flex-wrap: wrap;
  }

  .delivery-font{
    font-size:13px;
  }
  
  .my-content-wrapper{
    width:500px;
    margin:auto;
  }
  
  .no-image-font {
    font-size:50px;
    padding:70px 10px;
    color:#75797c;
    margin:100px 0;
    text-align:center;
    border:5px solid #75797c;
    font-family: 'Baloo Bhai', cursive;
    border-radius:10px;
  }
  
  footer {
   background-color:#fc5e3f;
   padding:60px 0 30px 0;
  }
  
  .footer-font {
    color:#fff;
  }
  
  .fadein {
    opacity : 0;
    transform : translate(0, 100px);
    transition : all 2000ms;
  }
  
  .fadein.scrollin {
      opacity : 1;
      transform : translate(0, 0);
  }
  

  @media (max-width:670px){
    
    #top-font {
    margin-top:50px;
    }
    
    .user-img {
      width:220px;
      height:220px;
    }
    
    .Mypicture {
      overflow: hidden;
      width: 250px;
      height: 250px;
      position: relative;
      margin:0 auto;
    }
    
  .my-content-wrapper{
    width:100%;
    margin:auto;
    font-size:14px;
  }
    
    .delivery-li {
      margin:auto;
      margin-bottom:10px;
    }
    
    .no-image-font {
      font-size:20px;
      padding:40px 10px;

      margin:60px 0;
    }
    
    .footer-font {
      font-size:10px;
    }
    
    .scrollTopBtn {
      position: fixed;
      bottom: 10px;
      right: 8px;
      width: 22px;
      height: 20px;
      background-color: #fff;
      cursor: pointer;
    }
    
    .scrollTopBtn:before {
      position: fixed;
      bottom: 13px;
      right: 13px;
      width: 10px;
      height: 10px;
      border-top: 4px #999 solid;
      border-left: 4px #999 solid;
      transform: rotate(45deg);
      cursor: pointer;
      content: '';
    }
    
    
  }